<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    crossorigin="anonymous" />
  <style>
    .custom-scroll {
      max-height: 500px;
      overflow-y: scroll;
      scrollbar-width: none;
      /* Firefox */
    }

    .custom-scroll::-webkit-scrollbar {
      width: 0px;
      /* Chrome, Safari */
      background: transparent;
    }
  </style>
  <title>User Dashboard</title>
</head>

<body>
  <div class="container mt-5">
    <!-- Header with Logout button -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h1>User Dashboard</h1>
      <a href="/logout" class="btn btn-danger">
        <i class="fas fa-sign-out-alt"></i> Logout
      </a>
    </div>

    <!-- Scan and View Report -->
    <div class="row g-3 mb-5">
      <div class="col-md-6 col-12">
        <a href="/scan" class="btn btn-primary col-12">
          <i class="fas fa-search"></i> Scan
        </a>
      </div>
      <div class="col-md-6 col-12">
        <form action="/viewReport" method="GET" class="input-group">
          <input type="text" class="form-control" id="inputReportName" name="reportName" placeholder="Report Name"
            required />
          <button type="submit" class="btn btn-primary">
            <i class="fas fa-eye"></i> View Report
          </button>
        </form>
      </div>
      <div class="col-md-6 col-12">
        <a href="/saveRequest" class="btn btn-success col-12">
          <i class="fas fa-save"></i> Save Request
        </a>
      </div>
    </div>

    <div class="row align-items-center my-3">
      <div class="col-md-6 col-12">
        <h2 class="mb-0">Scan Request</h2>
      </div>
      <div class="col-auto ms-auto">
        <button class="btn btn-secondary toggleTableBtn" style="width: 150px;" data-target="requestTableContainer">
          Thu gọn bảng
        </button>
      </div>
    </div>

    <div id="requestTableContainer" class="custom-scroll" style="display: block; max-height: 400px; overflow-y: auto;">
      <table class="table table-hover" id="scanTable2">
        <thead class="sticky-top">
          <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 15%; cursor: pointer;" onclick="sortTable(1, 'scanTable2')">Scan Type &#x25B2;&#x25BC;
            </th>
            <th style="width: 15%; cursor: pointer;" onclick="sortTable(2, 'scanTable2')">Tool &#x25B2;&#x25BC;</th>
            <th style="width: 15%; cursor: pointer;" onclick="sortTable(3, 'scanTable2')">Access Level &#x25B2;&#x25BC;
            </th>
            <th style="width: 35%; cursor: pointer;" onclick="sortTable(4, 'scanTable2')">URL &#x25B2;&#x25BC;</th>
            <th style="width: 15%;"></th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <% let countScan2=1; %>
            <% for (let i=0; i < requests.length; i++) { %>
              <tr>
                <th scope="row" class="row-index">
                  <%= countScan2++ %>
                </th>
                <td>
                  <%= requests[i].scanType %>
                </td>
                <td>
                  <%= requests[i].tool %>
                </td>
                <td>
                  <%= requests[i].accessLevel || 'N/A' %>
                </td>
                <td>
                  <%= requests[i].url %>
                </td>
                <td>
                  <button class="btn btn-warning btn-sm px-4" onclick="runScan(
                  '<%= requests[i].scanType %>',
                  '<%= requests[i].tool %>',
                  '<%= requests[i].accessLevel %>',
                  '<%= requests[i].token %>',
                  '<%= requests[i].url %>')">
                    Run
                  </button>
                  <a href="/deleteRequest?id=<%= requests[i].id %>" class="btn btn-danger btn-sm px-3 ms-2">
                    Delete
                  </a>
                </td>
              </tr>
              <% } %>
        </tbody>
      </table>
    </div>

    <div class="row align-items-center my-3">
      <div class="col-md-6 col-12">
        <h2 class="mb-0">Scan Request History</h2>
      </div>
      <div class="col-auto ms-auto">
        <button class="btn btn-secondary toggleTableBtn" style="width: 150px;"
          data-target="requestHistoryTableContainer">
          Thu gọn bảng
        </button>
      </div>
    </div>

    <div id="requestHistoryTableContainer" class="custom-scroll"
      style="display: block; max-height: 400px; overflow-y: auto;">
      <table class="table table-hover" id="scanTable">
        <thead class="sticky-top">
          <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 15%; cursor: pointer;" onclick="sortTable(1, 'scanTable')">Scan Type &#x25B2;&#x25BC;</th>
            <th style="width: 15%; cursor: pointer;" onclick="sortTable(2, 'scanTable')">Tool &#x25B2;&#x25BC;</th>
            <th style="width: 15%; cursor: pointer;" onclick="sortTable(3, 'scanTable')">Access Level &#x25B2;&#x25BC;
            </th>
            <th style="width: 35%; cursor: pointer;" onclick="sortTable(4, 'scanTable')">URL &#x25B2;&#x25BC;</th>
            <th style="width: 15%;"></th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <% let countScan=1; %>
            <% for (let i=0; i < requestsHistory.length; i++) { %>
              <tr>
                <th scope="row" class="row-index">
                  <%= countScan++ %>
                </th>
                <td>
                  <%= requestsHistory[i].scanType %>
                </td>
                <td>
                  <%= requestsHistory[i].tool %>
                </td>
                <td>
                  <%= requestsHistory[i].accessLevel || 'N/A' %>
                </td>
                <td>
                  <%= requestsHistory[i].url %>
                </td>
                <td>
                  <button class="btn btn-warning btn-sm px-4" onclick="runScan(
                    '<%= requestsHistory[i].scanType %>',
                    '<%= requestsHistory[i].tool %>',
                    '<%= requestsHistory[i].accessLevel %>',
                    '<%= requestsHistory[i].token %>',
                    '<%= requestsHistory[i].url %>')">
                    Run
                  </button>
                  <a href="/deleteRequestHistory?id=<%= requestsHistory[i].id %>"
                    class="btn btn-danger btn-sm px-3 ms-2">
                    Delete
                  </a>
                </td>
              </tr>
              <% } %>
        </tbody>
      </table>
    </div>

    <div class="row align-items-center my-3">
      <div class="col-md-6 col-12">
        <h2 class="mb-0">SAST Reports</h2>
      </div>
      <div class="col-auto ms-auto">
        <button class="btn btn-secondary toggleTableBtn" style="width: 150px;" data-target="sastTableContainer">
          Thu gọn bảng
        </button>
      </div>
    </div>
    <div id="sastTableContainer" class="custom-scroll" style="display: block; max-height: 400px; overflow-y: auto;">
      <table class="table table-hover" id="sastTable">
        <thead class="sticky-top">
          <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 50%; cursor: pointer;" onclick="sortTable(1, 'sastTable')">Name &#x25B2;&#x25BC;</th>
            <th style="width: 15%; cursor: pointer;" onclick="sortTable(2, 'sastTable')">Tool &#x25B2;&#x25BC;</th>
            <th style="width: 10%; cursor: pointer;" onclick="sortTable(3, 'sastTable')">Status &#x25B2;&#x25BC;</th>
            <th style="width: 10%;"></th>
            <th style="width: 10%;"></th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <% let countSAST=1; %>
            <% for (let index=0; index < reports.length; index++) { %>
              <% if (reports[index].type==='SAST' ) { %>
                <tr>
                  <th scope="row" class="row-index">
                    <%= countSAST++ %>
                  </th>
                  <td>
                    <%= reports[index].name %>
                  </td>
                  <td>
                    <%= reports[index].tool %>
                  </td>
                  <td>
                    <% if (reports[index].isProcessing) { %>
                      <span class="badge bg-warning text-dark">Processing</span>
                      <% } else { %>
                        <span class="badge bg-success">Done</span>
                        <% } %>
                  </td>
                  <td>
                    <a href="/viewReport?reportName=<%= reports[index].name %>"
                      class="btn btn-primary <%= reports[index].isProcessing ? 'disabled' : '' %>">
                      View Report
                    </a>
                  </td>
                  <td>
                    <a href="/deleteReport?id=<%= reports[index].id %>"
                      class="btn btn-danger <%= reports[index].isProcessing ? 'disabled' : '' %>">
                      Delete
                    </a>
                  </td>
                </tr>
                <% } %>
                  <% } %>
        </tbody>
      </table>
    </div>


    <div class="row align-items-center my-3">
      <div class="col-md-6 col-12">
        <h2 class="mb-0">DAST Reports</h2>
      </div>
      <div class="col-auto ms-auto">
        <button class="btn btn-secondary toggleTableBtn" style="width: 150px;" data-target="dastTableContainer">
          Thu gọn bảng
        </button>
      </div>
    </div>
    <div id="dastTableContainer" class="custom-scroll" style="display: block; max-height: 400px; overflow-y: auto;">
      <table class="table table-hover" id="dastTable">
        <thead class="sticky-top">
          <tr>
            <th style="width: 5%;">#</th>
            <th style="width: 50%; cursor: pointer;" onclick="sortTable(1, 'dastTable')">Name &#x25B2;&#x25BC;</th>
            <th style="width: 15%; cursor: pointer;" onclick="sortTable(2, 'dastTable')">Tool &#x25B2;&#x25BC;</th>
            <th style="width: 10%; cursor: pointer;" onclick="sortTable(3, 'dastTable')">Status &#x25B2;&#x25BC;</th>
            <th style="width: 10%;"></th>
            <th style="width: 10%;"></th>
          </tr>
        </thead>
        <tbody class="align-middle">
          <% let countDAST=1; %>
            <% for (let index=0; index < reports.length; index++) { %>
              <% if (reports[index].type==='DAST' ) { %>
                <tr>
                  <th scope="row" class="row-index">
                    <%= countDAST++ %>
                  </th>
                  <td>
                    <%= reports[index].name %>
                  </td>
                  <td>
                    <%= reports[index].tool %>
                  </td>
                  <td>
                    <% if (reports[index].isProcessing) { %>
                      <span class="badge bg-warning text-dark">Processing</span>
                      <% } else { %>
                        <span class="badge bg-success">Done</span>
                        <% } %>
                  </td>
                  <td>
                    <a href="/viewReport?reportName=<%= reports[index].name %>"
                      class="btn btn-primary <%= reports[index].isProcessing ? 'disabled' : '' %>">
                      View Report
                    </a>
                  </td>
                  <td>
                    <a href="/deleteReport?id=<%= reports[index].id %>"
                      class="btn btn-danger <%= reports[index].isProcessing ? 'disabled' : '' %>">
                      Delete
                    </a>
                  </td>
                </tr>
                <% } %>
                  <% } %>
        </tbody>
      </table>
    </div>
  </div>
  <script>
    const toggleButtons = document.querySelectorAll('.toggleTableBtn');

    toggleButtons.forEach(button => {
      button.addEventListener('click', () => {
        const targetId = button.getAttribute('data-target');
        const tableContainer = document.getElementById(targetId);
        const isVisible = tableContainer.style.display !== 'none' && tableContainer.style.display !== '';

        if (isVisible) {
          tableContainer.style.display = 'none';
          button.textContent = 'Hiện lại bảng';
        } else {
          tableContainer.style.display = 'block';
          button.textContent = 'Thu gọn bảng';
        }
      });
    });

    function sortTable(columnIndex, tableId) {
      const table = document.getElementById(tableId);
      const tbody = table.querySelector("tbody");
      const rows = Array.from(tbody.querySelectorAll("tr"));

      // Toggle sort direction per table
      if (!table.dataset.sortDirection) {
        table.dataset.sortDirection = "asc";
      }
      const direction = table.dataset.sortDirection === "asc" ? 1 : -1;

      rows.sort((a, b) => {
        const cellA = a.children[columnIndex].innerText.trim().toLowerCase();
        const cellB = b.children[columnIndex].innerText.trim().toLowerCase();

        if (!isNaN(cellA) && !isNaN(cellB)) {
          return (parseFloat(cellA) - parseFloat(cellB)) * direction;
        }

        return cellA.localeCompare(cellB) * direction;
      });

      // Reset tbody
      tbody.innerHTML = "";
      rows.forEach((row, index) => {
        row.querySelector(".row-index").innerText = index + 1;
        tbody.appendChild(row);
      });

      // Toggle direction
      table.dataset.sortDirection = table.dataset.sortDirection === "asc" ? "desc" : "asc";
    }
  </script>
  <script>
    function runScan(scanType, tool, accessLevel, token, url) {
      const cleanedTool = tool.trim();
      if (cleanedTool === "SonarQube, Trivy") {
        tool = "bothSAST";
      } else if (cleanedTool === "ZAP, Wapiti") {
        tool = "bothDAST";
      }
      const requestOptions = {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          scanType,
          tool,
          url,
          ...(accessLevel && { accessLevel }),
          ...(accessLevel === "private" && { token })
        }),
      };

      let endpoints = [];

      switch (tool) {
        case "ZAP":
          endpoints.push("/scanZAP");
          break;
        case "Wapiti":
          endpoints.push("/scanWapiti");
          break;
        case "bothDAST":
          endpoints.push("/scanDAST");
          break;
        case "SonarQube":
          endpoints.push("/scanSonarQube");
          break;
        case "Trivy":
          endpoints.push("/scanTrivy");
          break;
        case "bothSAST":
          endpoints.push("/scanSAST");
          break;
      }

      endpoints.forEach((endpoint) => fetch(endpoint, requestOptions));
      window.location.href = "/userHomepage";
    }
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>